.gradle/
gradle
src/test
.idea/
build/
log/
*.iml
src/main/resources/git.properties
src/main/resources/application-dev.properties
src/main/resources/log4j2-dev.properties
src/main/resources/config/application-dev.properties
src/main/resources/application-dev.yml
src/main/resources/config/application-dev.yml
classes
/bin/
gradlew
gradlew.bat
/out/
src/main/resources/log4j2-dev.properties

src/main/resources/log4j2.properties
